.git
.env
.DS_Store # macOS specific ignore
airflow_settings.yaml
__pycache__/
astro
.idea/
venv

include/openalex-maint
crontab-bak*
*.ipynb

# vscode editor
.vscode/**/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json